<div class="publication-item">
  <h3 class="publication-item__title">{{ post.title }}</h3>

  {% if post.authors %}
    <div class="publication-item__authors">
      {{ post.authors }}
    </div>
  {% endif %}

  {% if post.author_note %}
  <div class="publication-item__author-note">
    {{ post.author_note }}
  </div>
{% endif %}

  {% if post.venue or post.year %}
    <div class="publication-item__venue">
      {% if post.venue %}<em>{{ post.venue }}</em>{% endif %}{% if post.venue and post.year %}, {% endif %}{% if post.year %}{{ post.year }}{% endif %}
    </div>
  {% endif %}

  {% if post.links %}
    <div class="publication-item__links">
      {% for link in post.links %}
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">[{{ link.name }}]</a>{% unless forloop.last %} / {% endunless %}
      {% endfor %}
    </div>
  {% endif %}

  {% if post.summary %}
    <p class="publication-item__summary">
      {{ post.summary }}
    </p>
  {% endif %}
</div>
